resource_prefix              = "docsumm"
environment                  = "dev"
location                     = "eastus"
openai_location              = "eastus"
app_service_plan_sku_name   = "B2"
openai_sku_name             = "S0"
sql_admin_username          = "sqladmin"
enable_https_only           = true
storage_replication_type    = "LRS"
key_vault_access_object_ids = []
